---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar';
import Hero from '../components/Hero/Hero';
---
<Layout title="Adrian Jimenez | Full Stack Web Developer">
  <>
    <header class="head" id="landing">
      <Navbar client:load />
      <Hero client:only="react" /> 
    </header>
    <main>

    </main>
  </>
</Layout>

